@model WebSaladesGestion.ViewModel.SaladeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<dd>
    <h4>Salade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salade.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salade.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salade.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salade.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salade.Fabricant.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salade.Fabricant.Nom)
        </dd>
        <dt>
            @Html.LabelFor(model => model.AllIngredients, "Ingredient", new { @class = "control-label col-md-2" })
            </dt>
            <dd>
                @Html.ListBoxFor(m => m.SelectedIngredients, Model.AllIngredients)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Salade.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
